.direnv/
.roc-cache/
.roc-fuzz/
.venv/
.ruff_cache/
.mypy_cache/
__pycache__/
result
integration/basic_cli
integration/basic_webserver
integration/client_contract
benchmarks/go/go
benchmarks/go-benchmark
benchmarks/roc-benchmark
benchmarks/rust/target/
benchmarks/c/benchmark
dist/
generated-docs/
